{erl_opts, [
    {i, "src"},
    warnings_as_errors,
    debug_info,
    {w, all},
    warn_export_all
]}.

{pre_hooks, [
    {"(darwin|linux)", compile, "make -C c_src"}
]}.

{post_hooks, [
    {"(darwin|linux)", clean, "rm -f priv/*.so"},
    {"(darwin|linux)", clean, "make -C c_src clean"}
]}.

{eunit_opts, [{report, {eunit_surefire, [{dir, "."}]}}]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.
